{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>Register Relawan</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static '/css/register_akun.css' %}">

{% endblock meta %}

{% block content %}

<form method="POST" action="">
    {% csrf_token %}
        <div class="card">
            <h2 class="card-title">Formulir Registrasi Relawan<hr></h2>
            <div class="content">
                {{ form.as_table }} 
            </div>
            <div class="div-daftar">
                <button class="btn-daftar" type="submit">Daftar</button>
            </div>
        </div>

</form>

{% endblock content %}