{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Artikel Lengkap</title>
<link
  rel="stylesheet"
  href="{% static 'js/css/fullArticle.css' %}"
/>
{% endblock meta %}

{% block content %}
<section class="section2">
    <div class="container p-5">
        <h1>Full Artikel</h1>
        <!-- Artikel -->
        <div id="artikel-container">
            <h2>{{artikel.judul}}</h2>
            <h3>{{artikel.penulis.username}}</h3>
            <h4>{{artikel.rilis}}</h4>
            <h5>{{artikel.pembuka}}</h5>
            <p>{{artikel.isi}}</p>
        </div>
        <div id="komentar-container">
            <br>
            <h1>Komentar</h1>
            {% if request.user.is_authenticated %}
                <a href="komentar/" class="a2" style="text-decoration: none;">Tambah Komentar</a>
            {% else %}
                <h5 style="color: #e971d7;">Ingin menambahkan komentar? <a href="{% url 'authentication:login' %}" class="text-decoration-none">Login terlebih dahulu</a></h2>
            {% endif %}
            {% if not artikel.comments.all %}
                <h6 class="text-white">Belum ada komentar</h6>
            {% else %}
                {% for comment in artikel.comments.all %}
                    <strong class="text-white">
                        {{ comment.penulis }} - {{ comment.waktu }}
                    </strong>
                    <br>
                    <h6 class="text-white">{{ comment.deskripsi }}</h6>
                    <br>
                {% endfor %}
            {% endif %}
            
        </div>
    </div>
</section>

{% endblock content %}