{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Komentar</title>
<link
  rel="stylesheet"
  href="{% static 'js/css/tambahArtikel.css' %}"
/>
{% endblock meta %}

{% block content %}
<section class="section3">
    <div class="container p-5">
        <h1>Tambah Komentar</h1>
        <br>
        <div class="form-group">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Tambah Komentar</button>
            </form>
        </div>
    </div>
</section>

{% endblock content %}