body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #1E1E1E ;
}



/** Banner **/
.banner{
    margin-top: 50px;
}
.banner-titles span{
    color: #705ecf;
}
.banner-images{
    width: 100%;
    height: 400px;
    margin-top: 2%;
}
.banner .btn-start{
    background-color: #705cef;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 992px){
    .banner-images{
        margin-top: 10%;
        height: 200px;
    }
    .banner-titles{
        margin-top: 30px;
    }
    .banner{
        margin-top: 50px;
        box-sizing: border-box;
        box-shadow: 1px 1px 1px -1px #eee;
    }
}

/** Selection **/
.selection{
    margin-top: 100px;
    margin-bottom: 50px;
}
.selection .card{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.selection .card{
    transition: 0.3s;
}
.selection .card-img-top{
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.selection .card a{
    background-color: #705cef;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .selection .card-img-top {
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
    }
    .selection, .card{
        margin-top: 50px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

.container h1{
    color:white;
    text-align: center;
  }
  
  details{
    background-color: white;
    color: black;
    font-size: 1.5rem;
  }
  
  summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
  }
  


  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:after{
    content: "\002B";
  }
  
  details[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: .5em;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding: .5em 1em;
  }


  
