body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #1E1E1E ;
}



/** Banner **/
.banner{
    margin-top: 50px;
}
.banner-titles span{
    color: #705ecf;
}
.banner-images{
    width: 100%;
    height: 400px;
    margin-top: 2%;
}
.banner .btn-start{
    background-color: #705cef;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 992px){
    .banner-images{
        margin-top: 10%;
        height: 200px;
    }
    .banner-titles{
        margin-top: 30px;
    }
    .banner{
        margin-top: 50px;
        box-sizing: border-box;
        box-shadow: 1px 1px 1px -1px #eee;
    }
}

/** Selection **/
.selection{
    margin-top: 100px;
    margin-bottom: 50px;
}
.selection .card{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.selection .card{
    transition: 0.3s;
}
.selection .card-img-top{
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.selection .card a{
    background-color: #705cef;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .selection .card-img-top {
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
    }
    .selection, .card{
        margin-top: 50px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

.container h1{
    color:white;
    text-align: center;
  }
  
  details{
    background-color: white;
    color: black;
    font-size: 1.5rem;
  }
  
  summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
  }
  


  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:after{
    content: "\002B";
  }
  
  details[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: .5em;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding: .5em 1em;
  }


  
/** Features **/
.features{
    margin-top: 130px;
    margin-bottom: 30px;
    color: #313437;
}
.features p{
    color: #7d8285;
}
.features h2{
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 5px;
    color: inherit;
}
.features .intro {
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto ;
}
.features .item{
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px;
}
.features .item .features-titles{
    font-size: 20px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
}
.features .item .features-description{
    font-size: 15px;
    margin-bottom: 0;
}
.features .item .icon {
    color: #705ecf;
    font-size: 40px;
    float: left;
    margin-left: -65px;
}

@media (max-width: 767px) {
    .features{
        margin-bottom: 10px;
    }
    .features h2{
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .features .intro {
        margin-bottom: 40px;
    }
    .features .item {
        min-height: 0;
    }
}

/** Team **/
.team {
    margin-top: 80px;
    color: #313437;
}

.team h2{
    font-weight: 900;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}
.team p{
    color: #7d8285;
}
.team .team-intro{
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}
.team .team-intro p{
    margin-bottom: 0;
}
.team .people{
    padding: 50px 0;
}
.team .item{
    text-align: center;
}
.team .item .box{
    text-align: center;
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
}
.team .item .team-name{
    font-weight: 900;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
}
.team .item .team-job{
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px;
}
.team .item .team-description{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.team .item img{
    max-width: 160px;
}


/** Article **/
.article{
    color: #313437;
    margin-top: 30px;
}
.article h2{
    font-weight: 900;
    margin-bottom: 40px;
    color: inherit;
}
.article p{
    color: #7d8285;
}
.article .article-intro{
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}
.article .article-intro p{
    margin-bottom: 0;
}
.article .article-list{
    padding-bottom: 40px;
}
.article-list .item {
    padding-top: 50px;
    min-height: 425px;
    text-align: center;
}
.article-list .item .article-titles{
    font-weight: 900;
    font-size: 16px;
    margin-top: 20px;
    color: inherit;
}
.article-list .item .article-description{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
}
.article-list .item .article-action{
    font-size: 24px;
    width: 24px;
    margin: 22px auto 0;
    line-height: 1;
    display: block;
    color: #705ecf;
    opacity: 0.85;
    transition: opacity 0.2s;
    text-decoration: none;
}
.article-list .item .article-action{
    opacity: 1;
}

/** subscribe **/
.subscribe{
    color: #313437;
    padding: 50px 0;
    margin-top: 100px;
}
.subscribe p{
    color: #7d8285;
    line-height: 1.5;
}
.subscribe h2{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
}
.subscribe .subscribe-intro{
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
}
.subscribe .subscribe-intro p{
    margin-bottom: 35px;
}
.subscribe form {
    justify-content: center;
}
.subscribe form .form-control{
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 250px;
}
.subscribe form .btn-start{
    padding: 16px 32px;
    border: none;
    background: #705ecf;
    border-radius: 2px;
    line-height: 1;
    letter-spacing: 0.4px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.9;
    text-shadow: none;
    color: rgb(187, 181, 181);
    box-shadow: none;
}
.subscribe form .btn-start:hover{
    color: #fff;
    outline: none !important;
}