{% extends 'base.html' %}

{% block meta %}
<title>Daftar Relawan</title>
{% endblock meta %}


{% block content %}
<div class="w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="d-inline-flex flex-column align-items-center rounded-4 bg-light p-5 mb-5 bg-white rounded">
        <h1>Daftar Relawan</h1>
        <form method="POST" action="" class="d-flex flex-column">
            {% csrf_token %}
            <div class="d-flex flex-column mb-2">
                <label for="create-task" class="form-label">Keahlian</label>
                <td>{{form.keahlian}} </td>
                <label for="create-task" class="form-label">Tanggal Mulai</label>
                <td>{{form.mulai_periode}} </td> 
                <label for="create-task" class="form-label">Tanggal Selesai</label>
                <td>{{form.akhir_periode}} </td>

            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="submit" id="btnSearch" class="btn btn-primary btn-md center-block"
                        Style="width: 100px;" OnClick="btnSearch_Click">Submit</button>
                </div>

                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button><a href="{% url 'daftarwilayah:show_wilayah' %}"  >Cancel</a></button>
                </div>
            </div>
    </div>
    </form>

</div>


{% endblock content %}