<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'feedback.css' %}">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <script>
        function get_feedback() {
            $.get('./feedback_json', function(feedbacks) {
                for (let i = 0; i < feedbacks.length; i++) {
                    $("#col").append(`

                    <div class="testimonial">
                        <div class="name">${feedbacks[i].nama}</div>
                        <p>${feedbacks[i].pesan_feedback}</p>
                    </div>
                    `)
                }
            })
        }
    </script>

  </head>
  
  <body>

    <div class="testimonials">
      <div class="inner">
        <h1 style="text-align: left;">Feedback</h1>
        <div class="border"></div>

        <div class="row">
          

          <div id="col"></div>

          <div class="col">
            <div class="testimonial">
              
              <div class="name">Full name</div>
              

              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
