{% extends 'base.html' %}
{% load static %}

{% block meta %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Volundear</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Style CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'test.css' %}">
    <!-- Font Googles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- FontAwesome Cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function get_faq() {
            $.get('./json', function(faqs) {
                for (let i = 0; i < faqs.length; i++) {
                    $("#faq-section").append(`

                    <details>
                        <summary>${faqs[i].fields.question}</summary>
                        <div>${faqs[i].fields.answer}</div>
                    </details>

                    `)
                }
            })
        }

        get_faq()

        function new_feedback() {

            const nama = $("#title").val()
            const pesan = $("#description").val()

            const data = {name:nama, feedback:pesan, csrfmiddlewaretoken: '{{ csrf_token }}'}

            console.log(data)

            $.ajax({url:"add_feedback/", data:data, method:"POST"}).done(function(item) {
                console.log("=============")
                console.log(item)
            })

            document.getElementById("title").value = ""
            document.getElementById("description").value = ""
        }

    </script>

{% endblock meta %}

{% block content %}

    <!-- Banner -->
    <div class="banner" id="banner" style="margin-top: 50px;">
        <div class="container">
            
            <div class="row d-flex justify-content-center">
                <div class="col-15 col-lg-6 my-auto" >
                    <h6 class="banner-titles" >
                        Volundear
                    </h6>
                    <h1 style="text-align: left"class="banner-titles">
                        Kisah Kami
                    </h1>
                    <p>
                        Tingkat kesejahteraan masyarakat Indonesia masih tidak merata. Banyak desa khususnya yang jauh dari ibu kota yang belum tersentuh oleh teknologi. Selain itu, tingkat pendidikan dan kesehatannya juga belum dapat dikatakan seimbang. Sebagian dari generasi mudanya juga kurang memiliki motivasi untuk mengejar masa depan yang tinggi.

Di sisi lain, kemajuan teknologi di Indonesia tidak dapat dipungkiri keberadaannya. Hal-hal baru mengenai teknologi terus ditemukan. Perkembangan-perkembangan dari teknologi yang sudah ada pun terus meningkat. Peningkatan teknologi yang sangat signifikan terjadi pada tahun 2015-2022. Inovasi terhadap teknologi selalu dilakukan. Namun, berbagai kemajuan tersebut belum dapat mengatasi berbagai permasalahan yang ada karena eksistensinya hanya terpusat di suatu wilayah.
                    </p>
                    
                </div>
                <div class="col-10 col-lg-6 my-6">
                    {% load static %}
                    <img src="{% static 'fix1.png' %}" alt="banner-images" class="banner-images" style="width: 100%;
                    height: 400px;
                    margin-top: 2%;">
                </div>
            </div>
            
        </div>
    </div>

    <div class="banner" id="banner">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-10 col-lg-6 my-6">
                    {% load static %}
                    <img src="{% static 'fix2.png' %}" alt="banner-images" class="banner-images" style="width: 100%;
                    height: 400px;
                    margin-top: 2%;">
                </div>
                <div class="col-15 col-lg-6 my-auto">
                    <h5 class="banner-titles">
                        About us
                    </h5>
                    <h1 style="text-align: left;"class="banner-titles">
                        Apa Itu Volundear?
                    </h1>
                    <p>
                        Volundear merupakan sebuah website yang dapat memfasilitasi para relawan individu yang ingin mengabdikan dirinya pada masyarakat. Selain itu, kami juga ingin menjadi wadah bagi para donatur yang ingin berdonasi. Kami berniat untuk menyatukan berbagai pihak dari berbagai bidang untuk membentuk komunitas di wilayah-wilayah yang belum terjangkau sebagai bentuk pemberdayaan masyarakat di seluruh Indonesia.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- End Banner -->

    <!-- Selection-->
    <div class="selection">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="justify-content-center">
                    <br><br>
                    <h1 style="font-family: 'Open Sans'">
                        Our Features
                    </h1>
                    <p></p>
                </div>

                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4">
                        
                        <div class="card" style="width: 16rem;">
                            {% load static %}
                            <img src="{% static 'wilayah.png' %}" alt="images" class="card-img-top">
                            <div class="card-body" style="color:#1E1E1E">
                                <h5 class="card-titles">Daftar Wilayah</h5>
                                <p class="card-text">
                                    Menampilkan seluruh wilayah yang terdaftar, melakukan filter wilayah, dan mendaftarkan diri pada wilayah yang tersedia
                                </p>
                                <a href="#" class="btn btn-primary" style="background-color: #705cef;
                                color: #fff;
                                border-radius: 10px;
                                cursor: pointer;">Cek di sini</a>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card" style="width: 16rem;">
                            {% load static %}
                            <img src="{% static 'donasi.png' %}" alt="images" class="card-img-top">
                            <div class="card-body" style="color:#1E1E1E">
                                <h5 class="card-titles">Donasi</h5>
                                <p class="card-text">
                                    Bersama VolunDear, ambil peranmu untuk bisa bantu saudara-saudara yang terdampak bencana di berbagai wilayah Indonesia.
                                </p>
                                <a href="#" class="btn btn-primary" style="background-color: #705cef;
                                color: #fff;
                                border-radius: 10px;
                                cursor: pointer;">Cek di sini</a>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card" style="width: 16rem;">
                            {% load static %}
                            <img src="{% static 'article.png' %}" alt="images" class="card-img-top">
                            <div class="card-body" style="color:#1E1E1E">
                                <h5 class="card-titles">Artikel</h5>
                                <p class="card-text">
                                    Bersama Volundear, baca dan bagikan artikel seputar berita terkait donasi dan relawan serta berikan komentarmu!
                                </p>
                                <a href="{% url 'artikel:show_artikel' %}" class="btn btn-primary" style="background-color: #705cef;
                                color: #fff;
                                border-radius: 10px;
                                cursor: pointer;">Cek di sini</a>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card" style="width: 16rem;">
                            {% load static %}
                            <img src="{% static 'relawan.png' %}" alt="images" class="card-img-top">
                            <div class="card-body" style="color:#1E1E1E">
                                <h5 class="card-titles">Daftar Relawan</h5>
                                <p class="card-text">
                                    Mendaftarkan diri sebagai relawan setelah memilih wilayah, mengisi keahlian yang ditawarkan, dan mengisi kesediaan waktu
                                </p>
                                <a href="#" class="btn btn-primary" style="background-color: #705cef;
                                color: #fff;
                                border-radius: 10px;
                                cursor: pointer;">Cek di sini</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- End Selection-->

    <!-- faq-->
    <div class="container">
        <br><br>
        <br><br>
        <h1 style="text-align: left; font-family: 'Open Sans'; font-size: 3rem;">Faq</h1>
        <div id="faq-section">

        </div>
        <!-- {%for i in faq%}
        <details>
            <summary>{{i.question}}</summary>
            <div>{{i.answer}}</div>
        </details>
        {%endfor%} -->
      
     
      </div>
    <!-- End faq-->

      <!--feedback-->
    <div id="feedback-main">
        <div id="feedback-div">
            <br><br>
            <h1 style="font-family: 'Open Sans';text-align: center;">Feedback</h1>
            <form style="text-align: center;"method="POST" action="">
                {% csrf_token %}
                <div>
                    <label style="text-align: center;"for="title">Nama:</label>
                    <input style="text-align: center;"id="title" type="text" placeholder="nama" >
                </div>
                <div>
                    <label style="text-align: center;"for="description">Feedback: </label>
                    <input style="width: 35%;
                    height: 200px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 2px solid #ccc;
                    border-radius: 4px;
                    background-color: #f8f8f8;
                    font-size: 16px;
                    resize: none;
                    "id="description" type="text" style="height:50px; width:200px" name="description" placeholder="Write your feedback here..." >
                </div>
                <button style="text-align: center;" onclick="new_feedback()">Add</button>
                <br><br>
            </form>
        </div>
      </div>
{% endblock content %}