<!doctype html>
<html lang="en">
  <head style="background-color: #1E1E1E">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Volundear</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Style CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'test.css' %}">
    <!-- Font Googles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- FontAwesome Cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function get_faq() {
            $.get('./json', function(faqs) {
                for (let i = 0; i < faqs.length; i++) {
                    $("#faq-section").append(`

                    <details>
                        <summary>${faqs[i].fields.question}</summary>
                        <div>${faqs[i].fields.answer}</div>
                    </details>

                    `)
                }
            })
        }

        get_faq()
    </script>

  </head>
  <body style="color: white;
  background-color: #1E1E1E ;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4EC1F3 ">
        <div class="container" > 
        <a class="navbar-brand" href="#">Volundear</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">About Us</a>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="index.html">Features </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#feedback">Feedback</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contactus">Contact Us</a>
            </li>
    
            <li class="nav-item" >
                <a class="nav-link" href="#login">Login</a>
            </li>

          </ul>
       
        </div>
       </div>
    </nav>
    <!-- End Navbar -->

    <!-- Banner -->
    <div class="banner" id="banner" style="margin-top: 50px;">
        <div class="container">
            
            <div class="row d-flex justify-content-center">
                <div class="col-15 col-lg-6 my-auto" >
                    <h6 class="banner-titles" >
                        Volundear
                    </h6>
                    <h1 style="text-align: left"class="banner-titles">
                        Kisah Kami
                    </h1>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, provident!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, officia.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, expedita.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, placeat!
                    </p>
                    
                </div>
                <div class="col-10 col-lg-6 my-6">
                    {% load static %}
                    <img src="{% static 'banner-removebg-preview.png' %}" alt="banner-images" class="banner-images" style="width: 100%;
                    height: 400px;
                    margin-top: 2%;">
                </div>
            </div>
            <br><br>
        </div>
    </div>

    <div class="banner" id="banner">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-10 col-lg-6 my-6">
                    {% load static %}
                    <img src="{% static 'banner-removebg-preview.png' %}" alt="banner-images" class="banner-images" style="width: 100%;
                    height: 400px;
                    margin-top: 2%;">
                </div>
                <div class="col-15 col-lg-6 my-auto">
                    <h5 class="banner-titles">
                        About us
                    </h5>
                    <h1 style="text-align: left;"class="banner-titles">
                        Apa Itu Volundear?
                    </h1>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, provident!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, officia.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, expedita.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, placeat!
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- End Banner -->

    <!-- Selection-->
    <div class="selection">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="justify-content-center">
                    <br><br>
                    <br><br>
                    <h1>
                        Our Features
                    </h1>
                    <p></p>
                </div>

                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4">
                        
                        <div class="card" style="width: 16rem;">
                            {% load static %}
                            <img src="{% static 'banner-removebg-preview.png' %}" alt="images" class="card-img-top">
                            <div class="card-body" style="color:#1E1E1E">
                                <h5 class="card-titles">Daftar Wilayah</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, blanditiis!
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate praesentium expedita eius.
                                </p>
                                <a href="#" class="btn btn-primary" style="background-color: #705cef;
                                color: #fff;
                                border-radius: 10px;
                                cursor: pointer;">Cek di sini</a>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card" style="width: 16rem;">
                            {% load static %}
                            <img src="{% static 'banner-removebg-preview.png' %}" alt="images" class="card-img-top">
                            <div class="card-body" style="color:#1E1E1E">
                                <h5 class="card-titles">Donasi</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, blanditiis!
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate praesentium expedita eius.
                                </p>
                                <a href="#" class="btn btn-primary" style="background-color: #705cef;
                                color: #fff;
                                border-radius: 10px;
                                cursor: pointer;">Cek di sini</a>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card" style="width: 16rem;">
                            {% load static %}
                            <img src="{% static 'banner-removebg-preview.png' %}" alt="images" class="card-img-top">
                            <div class="card-body" style="color:#1E1E1E">
                                <h5 class="card-titles">Artikel</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, blanditiis!
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate praesentium expedita eius.
                                </p>
                                <a href="#" class="btn btn-primary" style="background-color: #705cef;
                                color: #fff;
                                border-radius: 10px;
                                cursor: pointer;">Cek di sini</a>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card" style="width: 16rem;">
                            {% load static %}
                            <img src="{% static 'banner-removebg-preview.png' %}" alt="images" class="card-img-top">
                            <div class="card-body" style="color:#1E1E1E">
                                <h5 class="card-titles">Daftar Relawan</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, blanditiis!
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate praesentium expedita eius.
                                </p>
                                <a href="#" class="btn btn-primary" style="background-color: #705cef;
                                color: #fff;
                                border-radius: 10px;
                                cursor: pointer;">Cek di sini</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- End Selection-->

    <!-- faq-->
    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <div id="faq-section">

        </div>
        <!-- {%for i in faq%}
        <details>
            <summary>{{i.question}}</summary>
            <div>{{i.answer}}</div>
        </details>
        {%endfor%} -->
      
     
      </div>
    <!-- End faq-->

      <!--feedback-->
    <div id="feedback-main">
        <div id="feedback-div">
            <h1 style="text-align: center;">Feedback</h1>
            <form style="text-align: center;" action="contact.php" method="post" class="form" id="feedback-form1" name="form1" enctype="multipart/form-data">
                <h6 style="text-align: center; margin-left: -490px;">nama</h6>
                <p class="name">
                    <input style="width: 35%" name="name" type="name" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" required placeholder="Name" id="feedback-name" />
                </p>
                <h6 style="text-align: center; margin-left: -470px;">feedback</h6>
                <p class="text">
                    <textarea style="width: 35%;
                height: 200px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #f8f8f8;
                font-size: 16px;
                resize: none;
                " name="comment" type="comment" class="validate[required,length[6,300]] feedback-input" id="feedback-comment" ></textarea>
                </p>

                <div class="feedback-submit">
                    <input type="submit" value="SEND" id="feedback-button-blue" />
                    <div class="feedback-ease"></div>
                </div>
            </form>
        </div>
      </div>
    
    <!-- feedback-->

    <!-- Footer -->
<footer
class="text-center text-lg-start text-white"
style="background-color: #ffffff"
>
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
<!-- Grid column -->
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold" style="color: black;">
        Volundear
    </h6>
    <p class="text-black" style="font-size: 12px; color:#1E1E1E">
        Memfasilitasi para relawan individu yang ingin mengabdikan dirinya pada masyarakat.
    </p>
</div>
<!-- Grid column -->
<hr class="w-100 clearfix d-md-none" />
<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold" style="color: black;">Products</h6>
    
    <p style="font-size: 16px;">
    <a class="text-black" style="text-decoration: none; color:#1E1E1E">Daftar Relawan</a>
    </p>
    <p style="font-size: 16px;">
    <a class="text-black" style="text-decoration: none; color: #1E1E1E;">Donasi</a>
    </p>
    
</div>
<!-- Grid column -->
<hr class="w-100 clearfix d-md-none" />
<!-- Grid column -->
<hr class="w-100 clearfix d-md-none" />
<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
    <h6 class="text-uppercase text-black mb-4 font-weight-bold" style="color:#1E1E1E">Contact</h6>
    <p class="text-black" style="font-size: 16px; color:#1E1E1E"><i class="fas fa-home mr-3"></i> Depok, Indonesia</p>
    <p class="text-black" style="font-size: 16px; color:#1E1E1E"><i class="fas fa-envelope mr-3"></i> volundear@gmail.com</p>
    <p class="text-black" style="font-size: 16px; color:#1E1E1E"><i class="fas fa-phone mr-3"></i> + 62 858385838458</p>
</div>
<!-- Grid column -->
<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase text-black mb-4 font-weight-bold" style="color:#1E1E1E">Our Social Media</h6>
    <!-- Facebook -->
    <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
    ></a>

    <!-- Twitter -->
    <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
    ></a>

    <!-- Instagram -->
    <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
    ></a>

</div>
</div>
<!--Grid row-->
</section>
<!-- Section: Links -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: #4EC1F3; color: black;"
>© 2020 Copyright:
<a class="text-black" href="#" style="text-decoration: none;">Volundear</a>
</div>
<!-- Copyright -->
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>