{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>Profile</title>
<link rel="stylesheet" href="{% static '/css/profile.css' %}">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    function save_form() {
        const nama = $("#nama").val()
        const tanggal_lahir = $("#tanggal_lahir").val()
        const gender = $("[name='gender']").val()
        const telp = $("#telp").val()
        const pekerjaan = $("#pekerjaan").val()
        const alamat = $("#alamat").val()

        const data = {nama:nama,
            tanggal_lahir:tanggal_lahir,
            gender:gender,
            telp:telp,
            pekerjaan:pekerjaan,
            alamat:alamat,
            csrfmiddlewaretoken:'{{ csrf_token }}'
        }

        console.log(data)

        $.ajax({url:"/profile/edit/", data:data, method:"POST"})
}
</script>

{% endblock meta %}

{% block content %}
<div class="form-body" style="color:white;">
    <form>
        {% csrf_token %}
        <div style="text-align:center; background-color: blueviolet; border-radius: 10px; justify-content: center;">
            <h2 style="font-weight: bold; padding-top: 5px;">Isi Identitas</h2>
            <hr>
        </div>
        <div class="modal-content">
            <div class="label-form"><label>Nama panjang</label></div>
            <div class="input-form"><input type="text" id="nama"></div>
        </div>

        <div class="modal-content">
            <div class="label-form"><label>Tanggal lahir</label></div>
            <div class="input-form"><input type="date" id="tanggal_lahir"></div>
        </div>

        <div class="modal-content">
            <div class="label-form"><label>Jenis Kelamin</label></div>
            <div>
                  <input type="radio" id="pria" name="gender" value="Wanita">
                  <label for="pria">Wanita</label><br>
                  <input type="radio" id="wanita" name="gender" value="Pria">
                  <label for="wanita">Pria</label><br>
            </div>
        </div>
        <div class="modal-content">
            <div class="label-form"><label>No telepon</label></div>
            <div class="input-form"><input type="text" id="telp"></div>
        </div>
        <div class="modal-content">
            <div class="label-form"><label>Pekerjaaan</label></div>
            <div class="input-form"><input type="text" id="pekerjaan"></div>
        </div>
        <div class="modal-content">
            <div class="label-form"><label>Alamat</label></div>
            <div class="input-form"><textarea id="alamat"></textarea></div>
        </div>
        
        <div class="save-row">
            <button onclick="save_form()" id="save">Simpan</button>
        </div>
    </form>
</div>

{% endblock content %}