{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>Profile</title>
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function get_detail() {
    $.get('/profile/get_detail', function(item) {
        
            $("#detail-user").append(`
            <div class="profile-name">
                <h5 class="h5">Relawan</h5>
                <img src="/static/images/namor.png" style="width: 200px; height: 200px" alt="profile-picture">
                <h4>${item.fields.nama}</h4>
            </div>
            <div class="profile-content">
                <div class="table-profile">
                    <table>
                        <tr class="detail-row">
                            <td class="detail-title">Username</td>
                            <td class="detail-content">{{user.username}}</td>
                        </tr>
                        <tr class="detail-row">
                            <td class="detail-title">Tanggal lahir</td>
                            <td class="detail-content">${item.fields.tanggal_lahir}</td>
                        </tr>
                        <tr class="detail-row">
                            <td class="detail-title">Jenis kelamin</td>
                            <td class="detail-content">${item.fields.gender}</td>
                        </tr>
                        <tr class="detail-row">
                            <td class="detail-title">No telepon</td>
                            <td class="detail-content">${item.fields.phone_number}</td>
                        </tr>
                        <tr class="detail-row">
                            <td class="detail-title">Pekerjaaan</td>
                            <td class="detail-content">${item.fields.pekerjaan}</td>
                        </tr>
                        <tr class="detail-row">
                            <td class="detail-title">Alamat</td>
                            <td class="detail-content">${item.fields.alamat}</td>
                        </tr>
                    </table>
                </div>
            </div>
        `)
        
    })
    }
    
    function show_modal() {
        document.getElementById("form-bg").style.display = "block"
    }

    function close_modal() {
        document.getElementById("form-bg").style.display = "none"
    }

    get_detail()
</script>

{% endblock meta %}

{% block content %}
<section id="detail-user" style="color:white;">

</section>

<br style="color:white;">

<div class="btn-PJ">
    <div class="btn-PJ-inner">
        <button class="btn-dashboard" onclick="">Show Dashboard</button>
        <button class="btn-edit" onclick="show_modal()">Edit Profile</button>
    </div>
</div>


<div id="form-bg">
    <div id="form-update">
        <h3 style="color: white;" class="form-title">Edit Profile<hr style="color: white;"></h3>
        <div class="modal-body" style="color:white;">
            <form>
                {% csrf_token %}
                
                <div class="modal-content">
                    <div class="label-form"><label>Nama panjang</label></div>
                    <div class="input-form"><input type="text" id="nama"></div>
                </div>
        
                <div class="modal-content">
                    <div class="label-form"><label>Tanggal lahir</label></div>
                    <div class="input-form"><input type="date" id="tanggal_lahir"></div>
                </div>
        
                <div class="modal-content">
                    <div class="label-form"><label>Jenis Kelamin</label></div>
                    <div class="input-form">
                        <input type="radio" id="wanita" name="gender" value="Wanita">
                        <label for="wanita" style="color:white;">Wanita</label><br>
                        <input type="radio" id="pria" name="gender" value="Pria">
                        <label for="pria" style="color:white;">Pria</label><br>
                    </div>
                </div>
                <div class="modal-content">
                    <div class="label-form"><label>No telepon</label></div>
                    <div class="input-form"><input type="text" id="telp"></div>
                </div>
                <div class="modal-content">
                    <div class="label-form"><label>Pekerjaaan</label></div>
                    <div class="input-form"><input type="text" id="pekerjaan"></div>
                </div>
                <div class="modal-content">
                    <div class="label-form"><label>Alamat</label></div>
                    <div class="input-form"><textarea id="alamat"></textarea></div>
                </div>
                
                <div>
                    <button class="btn-form" onclick="close_modal()">Cancel</button>
                    <button class="btn-form" onclick="">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}