{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>Daftar Wilayah</title>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static '/js/daftarwilayah.js' %}"></script>

<link rel="stylesheet" href="{% static '/css/daftarwilayah.css' %}">

{% endblock meta %}

{% block content %}
<section>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Volundear</a>
    
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="nav-menu">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link" href="">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login-btn" href="">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h3 class="sub-title">Daftar Wilayah</h3>
    
    <div id="form-filter">
        <label for="daftar-kota">filter berdasarkan:</label>
        <select id="daftar-kota">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select>
        <input type="submit" value="Terapkan">
    </div>
    
    <div id="daftar_wilayah" class="flex-container">
        <div class="card">
            <div class="card-body">
                <a class="btn_new" onclick="open_form()">+</a>
            </div>
        </div>
    </div>
    
    <div id="detail-bg">
        <div id="detail-wilayah"></div>
    </div>
    
    <div id="form-bg">
    
        <div id="form-newWilayah" aria-hidden="true">
    
            <div class="modal-header">
                <h3 id="modal-title">Tambah Wilayah</h3>
            </div>
    
            <div class="modal-body">
                <form>
                    {% csrf_token %}
                    
                    <div class="modal-content">
                        <div class="label-form"><label>Nama tempat</label></div>
                        <div class="input-form"><input type="text" id="nama"></div>
                    </div>
    
                    <div class="modal-content">
                        <div class="label-form"><label>Kota</label></div>
                        <div class="input-form"><input type="text" id="kota"></div>
                    </div>
    
                    <div class="modal-content">
                        <div class="label-form"><label>Alamat lengkap</label></div>
                        <div class="input-form"><textarea id="alamatLengkap"></textarea></div>
                    </div>
    
                    <div class="modal-content">
                        <div class="label-form"><label>Kebutuhan</label></div>
                        <select id="kebutuhan" class="input-form" style="width:40%;">
                            <option value="Tenaga medis">Tenaga medis</option>
                            <option value="Pengajar SD">Pengajar SD</option>
                            <option value="Pengajar SMP">Pengajar SMP</option>
                            <option value="Pengajar SMA">Pengajar SMA</option>
                            <option value="Ahli lingkungan">Ahli lingkungan</option>
                            <option value="Ahli infrastruktur">Ahli infrastruktur</option>
                            <option value="Pemanfaatan sumber daya">Pemanfaatan sumber daya</option>
                          </select>
                    </div>
    
                    <div class="modal-content">
                        <div class="label-form"><label>Deskripsi</label></div>
                        <div class="input-form"><textarea id="deskripsi"></textarea></div>
                    </div>
    
                    <div class="modal-content">
                        <div class="label-form"><label>Jumlah relawan yang dibutuhkan</label></div>
                        <div class="input-form"><input type="text" id="kuota"></div>
                    </div>
    
                    <div class="modal-content">
                        <div class="label-form"><label>Jangka waktu</label></div>
                        <div class="input-form"><input type="text" id="jangkaWaktu"></div>
                    </div>
                
                </form>
            </div>
    
            <div class="modal-footer">
                <button onclick="close_form()" class="btn-form" type="button">Batal</button>
                <button onclick="newWilayah()" class="btn-form" type="submit" value="submit">Tambah</button>
            </div>
    
        </div>
    </div>
    
</section>

{% endblock content %}