{% extends 'base.html' %}

{% block meta %}
<title>Daftar Wilayah</title>
<script>

async function get_wilayah() {
    return fetch("{% url 'daftarwilayah:get_wilayah' %}").then((res) => res.json())
}

async function show_wilayah() {
    document.getElementById("daftar_wilayah").innerHTML = ""
    const wilayah_item = await get_wilayah()
    let htmlString = ``

    wilayah_item.forEach((item) => {

    htmlString += `
    <div class="wilayah-card">
        <p>${item.name}</p>
    </div>

    ` 
    })
    
    document.getElementById("daftar_wilayah").innerHTML = htmlString
}

async function newWilayah() {

    const nama = $("#nama").val()
    const kota = $("#kota").val()
    const alamatLengkap = $("#alamatLengkap").val()
    const kebutuhan = $("#kebutuhan").val()
    const deskripsi = $("#deskripsi").val()
    const kuota = $("#kuota").val()
    const jangkaWaktu = $("#jangkaWaktu").val()


    const data = {name:nama, 
        kota:kota, 
        address:alamatLengkap,
        kuota_max:kuota,
        description:deskripsi,
        kebutuhan:kebutuhan,
        jangka_waktu:jangkaWaktu, 
        csrfmiddlewaretoken:'{{ csrf_token }}'}


    $.ajax({url:"/daftarwilayah/add_new/", data:data, method:"POST"}).done(function (resp) {
        $("#daftar_wilayah").append(`
        
        <div class="wilayah-card">
            <p>${item.name}</p>
        </div>
        
        `)
    })

    document.getElementById("form-newWilayah").style.display = "none"
}

async function open_form() {
    document.getElementById("form-newWilayah").style.display = "block"
}

async function close_form() {
    document.getElementById("form-newWilayah").style.display = "none"
}

</script>
{% endblock meta %}

{% block content %}
<h3>Daftar Wilayah</h3>

<div class="daftar_wilayah"></div>

<button class="btn_new" onclick="open_form()">+</button>

<div id="form-bg">

    <div id="form-newWilayah" style="display:none;">

        <div class="modal-header">
            <h1 id="modal-title">Tambah Wilayah</h1>
        </div>

        <div class="modal-body">
            <form>
                {% csrf_token %}
                
                <div class="modal-content">
                    <label class="label-form">Nama tempat</label>
                    <input type="text" id="nama">
                </div>

                <div class="modal-content">
                    <label class="label-form">Kota</label>
                    <input type="text" id="kota">
                </div>

                <div class="modal-content">
                    <label class="label-form">Alamat lengkap</label>
                    <textarea id="alamatLengkap"></textarea>
                </div>

                <div class="modal-content">
                    <label class="label-form">Kebutuhan</label>
                    <textarea id="kebutuhan"></textarea>
                </div>

                <div class="modal-content">
                    <label class="label-form">Deskripsi</label>
                    <textarea id="deskripsi"></textarea>
                </div>

                <div class="modal-content">
                    <label class="label-form">Jumlah relawan yang dibutuhkan</label>
                    <input type="text" id="kuota">
                </div>

                <div class="modal-content">
                    <label class="label-form">Jangka waktu</label>
                    <input type="text" id="jangkaWaktu">
                </div>
            
            </form>
        </div>

        <div class="modal-footer">
            <button onclick="close_form()" type="button">Batal</button>
            <button onclick="newWilayah()" type="submit" value="submit">Tambah</button>
        </div>

    </div>
</div>

{% endblock content %}