.title {
    color: white;
    text-align: center;
}
* {
    color: white;
}
.form {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.register-sign {
    text-align: center;
    margin-bottom: 60px;
}
.btn-go {
    text-align: center;
}
.form-label {
    text-align: left;
}