<!-- Footer -->
<footer
        class="text-center text-lg-start text-white"
        style="background-color: #ffffff"
        >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
        <!--Grid row-->
        <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style="color: black;">
                Volundear
            </h6>
            <p class="text-black" style="font-size: 12px;">
                Memfasilitasi para relawan individu yang ingin mengabdikan dirinya pada masyarakat.
            </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style="color: black;">Products</h6>
            <p style="font-size: 16px;">
            <a class="text-black" href="{% url 'daftarwilayah:show_wilayah' %}" style="text-decoration: none">Daftar Wilayah</a>
            </p>
            <p style="font-size: 16px;">
            <a class="text-black" style="text-decoration: none">Daftar Relawan</a>
            </p>
            <p style="font-size: 16px;">
            <a class="text-black" style="text-decoration: none">Donasi</a>
            </p>
            <p style="font-size: 16px;">
            <a class="text-black" href="{% url 'artikel:show_artikel' %}" style="text-decoration: none">Artikel</a>
            </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase text-black mb-4 font-weight-bold">Contact</h6>
            <p class="text-black" style="font-size: 16px;"><i class="fas fa-home mr-3"></i> Depok, Indonesia</p>
            <p class="text-black" style="font-size: 16px;"><i class="fas fa-envelope mr-3"></i> volundear@gmail.com</p>
            <p class="text-black" style="font-size: 16px;"><i class="fas fa-phone mr-3"></i> + 62 858385838458</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase text-black mb-4 font-weight-bold">Our Social Media</h6>
            <!-- Facebook -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #3b5998"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #55acee"
                href="#!"
                role="button"
                ><i class="fab fa-twitter"></i
            ></a>

            <!-- Instagram -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #ac2bac"
                href="#!"
                role="button"
                ><i class="fab fa-instagram"></i
            ></a>

        </div>
        </div>
        <!--Grid row-->
    </section>
    <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
        class="text-center p-3"
        style="background-color: #4EC1F3; color: black;"
        >© 2020 Copyright:
        <a class="text-black" href="#" style="text-decoration: none;">Volundear</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->